body {
    background-color: #E0E5EC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
    line-height: 5vw;
}

.neumorphic-box {
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
}

.no-select {
    /*no select while clicking*/ 
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */   
}

.text-center {
    /*font centering in a div*/
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hidden {
    display: none;
    transition: 0.4s;
}

.no-highlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#page-logo-text {
    font-size: 8vw;
    margin-left: 4vw;
}

nav img {
    visibility: visible;
    height: 4vh;
}

#leaderboards-icon {
    visibility: visible;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    margin-right: 4vw;;
}

.row-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

.row-flex-container-spaced-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.col-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

#clicks {
    visibility: visible;
    min-height: 22vw;
    min-width: 22vw;
    border-radius: 50%;
    font-size: 4vw;
}

#clock {
    visibility: visible;
    min-height: 30vw;
    min-width: 30vw;
    border-radius: 50%;
    font-size: 8vw;
}

#cps-box {
    visibility: visible;
    min-height: 22vw;
    min-width: 22vw;
    border-radius: 50%;
    font-size: 4vw;
}

#clickbox {
    width: 80vw;
    height: 35vh;
    border-radius: 16px;
    font-size: 8vw;
}

footer {
    height: 8vh;
    width: 80vw;
    border-radius: 16px;
    color: rgba(158, 163, 172, 0.829);
}